@mixin center-elements ($ai, $jc, $gap){
    display: flex;
    align-items: $ai;
    justify-content:  $jc;
    gap: $gap;
}

@mixin fonts ($ff, $fs, $fw, $f-size, $lh, $color){
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $f-size;
    line-height: $lh;
    color: $color;
}
